.idea
.vscode
bin
build
cmake-build-debug
compilazione
README.md
*.asv
cmake-build-debug
.clang-format
Clothoids_backup
compilazione.txt
draw_map_guide.py
*.xcf
paths_saved
basic_agent/rrt/*.csv
basic_agent/figure_plot/*
!basic_agent/figure_plot/*.m
basic_agent/build